.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-contact {
    margin-right: 70px;
  }
  
  .header-logo-text-2-footer {
    color: #ffffff;
  }
  
  .footer-item .footer-link {
    text-decoration: none;
    text-transform: none;
  }
  
  .adress {
    font-style: unset;
  }
  
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
  
  .footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-logo {
    margin-bottom: 20px;
  }
  
  .adress-link {
    color: #ffffff;
  }
  
  .footer-social {
    margin-top: 12px;
  }
  
  .footer-social-title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
  
  .footer-social-link {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: var(--accent-color);
  }
  
  .social-icon.footer-icon {
    fill: #ffffff;
  }
  
  .footer-mail-form {
    margin-left: 93px;
    margin-top: 12px;
  }
  
  .footer-input-box {
    display: flex;
    margin-left: auto; 
    justify-content: center;
  }
  
  
  .footer-mail-input {
    margin-right: 12px;
    background-color: #2f303a;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    outline: none;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-mail-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }
  
  .footer-mail-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .footer-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .footer-btn-icon {
    width: 24px;
    height: 24px;
  }
  
  
  /* .backdrop.is-hidden .modal {
      transform: scale(2) rotate(360deg); */
  
  .modal {
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    position: relative;
    transform: scale(1) rotate(0);
    transition: transform 300ms scale;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .modal-icon {
    width: 18px;
    height: 18px;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icon:hover,
  .modal-icon:focus {
    fill: var(--accent-color);
  }
  
  
  .close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  
  .modal-title {
    margin-top: 40px;
    margin-bottom: 12px;
    color:#212121;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.8;
    text-align: center;
  }
  
  .modal-input {
    width: 100%;
    height: 40px;
    background: transparent;
    padding-left: 42px; 
    padding-right: 10px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.01em;
    color: #000000
  }
  
  .modal-input:hover {
    cursor: pointer;
  }
  
  .modal-input:focus {
    border-color: var(--accent-color);
  }
  
  .modal-input:focus + .input-icon {
    fill: var(--accent-color);
  }
  
  .input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .modal-field {
    margin-bottom: 10px;
  }
  
  .input-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  
  .input-wrapper {
    display: block;
    position: relative;
  }
  
  .modal-text-input {
    width: 100%;
    height: 120px;
    border-radius: 3px;
    resize: none;
    border: 1px solid #999999;
    background: transparent;
    padding: 10px;
    outline: none;
  }
  
  .modal-text-input::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .modal-text-input:focus {
    border-color: var(--accent-color);
  }
  
  .check-text {
    font-size: 14px;
    line-height: 1.2;
    color: var(--primary-text-color);
    display: flex;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-checkbox:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
  }
  
  .modal-checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  
  .modal-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }